{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
 <meta charset="UTF-8">
 <title>🌸 Hello Kitty Fitness 🌸</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
 <!--font Modak and DynaPuff-->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Maven+Pro:wght@400..900&family=Modak&family=Rubik+Bubbles&family=Sigmar+One&display=swap" rel="stylesheet">
 </head>


<body>
  <!-- Header -->
  <header>
    <div class="logo">
      <img src= {% static 'tracker/images/gif3.gif' %} alt="Kitty Logo">
      <h1>Kitty Fitness</h1>
    </div>
    <nav>
      <a href="#">Liên hệ</a>
      <a href="#">Đăng nhập</a>
      <a href="#">Đăng ký</a>
    </nav>
  </header>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-left">
      <img src= {% static 'tracker/images/landing_photo.png'%} alt="landing_photo.png">
    </div>
    <div class="hero-right">
      <h2 class="title">HELLO KITTY FITNESS</h2>
      <h3 class="subtitle">Sống khoẻ mỗi ngày cùng Hello Kitty nhé!</h3>
      <p class="desc">
        🎀 Chào mừng bạn đến với Hello Kitty Fitness – nơi giúp bạn 
        xây dựng thói quen tập luyện lành mạnh, theo dõi lượng calories 
        và tận hưởng hành trình khoẻ đẹp mỗi ngày. 
        Ở đây, Kitty sẽ đồng hành cùng bạn trong từng bước nhỏ, cổ vũ bạn mỗi khi 
        bạn lười biếng và ăn mừng mỗi khi bạn tiến bộ - vì hành trình trở nên khoẻ 
        mạnh cũng có thể thật dễ thương mà! 🎀
      </p>
      <button class="cta-btn" onclick="window.location.href='{% url 'main_views' %}'">Bắt đầu ngay</button>
    </div>
  </section>

</body>
</html>