/*-------font Modak and DynaPuff-------*/
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.sigmar {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 500;
  font-style: normal;
}

.maven-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*-------font Modak and DynaPuff-------*/

body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  background-color: #ffd6eb;
  color: #7a1c48;
}

/* Header */
header {
  background-color: #d85a8d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}

header .logo img {
  width: 60px;
  height: 60px;
}

header h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 1;
  top: 3px; 
  margin: 0; 
  line-height: 1;
  position: relative;   
}

nav a {
  font-family: "Maven Pro", sans-serif;
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s;
  letter-spacing: 4.5px; 
  margin-left: 50px;
}

nav a:hover {
  opacity: 0.8;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
}

.hero-left img {
  width: 800px;
  margin-left: -10px;
}

.hero-right {
  max-width: 750px;
  text-align: center; 
}

.title {
  font-family: "Rubik Bubbles", system-ui;
  color: #d63384;
  font-size: 4.5rem;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(233, 82, 175, 0.667);

  white-space: nowrap;
  text-align: center; 
  display: inline-block; 
  letter-spacing: 3px; 
  margin-left: -50px; 
}

.subtitle {
  font-family: "Maven Pro", sans-serif;
  padding-top: 16px;
  font-size: 2.3rem;
  color: #7a1c48;
  margin-bottom: 15px;
  margin-left: 28px;

  white-space: nowrap;
  text-align: center; 
  display: inline-block; 
}

.desc {
  font-family: "Maven Pro", sans-serif;
  padding-top: 16px;
  color: #7a1c48;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 25px;
  margin-left: 28px;

  text-align: center; 
  display: inline-block; 
}

.cta-btn {
  font-family: "Maven Pro", sans-serif;
  padding-top: 20px;
  background-color: #d85a8d;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 13px 45px;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: background-color 0.3s, transform 0.2s;
}

.cta-btn:hover {
  background-color: #e66da1;
  transform: scale(1.05);
}

