/*-------font Modak and DynaPuff-------*/
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/*-------font Modak and DynaPuff-------*/

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffd6eb;
  color: #7a1c48;
}

/* Header */
header {
  background-color: #d85a8d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}

header .logo img {
  width: 50px;
  height: 50px;
}

header h1 {
  font-family: "DynaPuff", system-ui;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 1;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.8;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
}

.hero-left img {
  width: 800px;
  margin-left: -10px;
}

.hero-right {
  max-width: 750px;
  margin-left: 20px;
  text-align: center;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: #d63384;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.subtitle {
  font-size: 1.2rem;
  color: #7a1c48;
  margin-bottom: 15px;
}

.desc {
  color: #7a1c48;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

.cta-btn {
  background-color: #d85a8d;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 35px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: background-color 0.3s, transform 0.2s;
}

.cta-btn:hover {
  background-color: #e66da1;
  transform: scale(1.05);
}
