/*-------font Modak and DynaPuff-------*/
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.sigmar {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 500;
  font-style: normal;
}

.maven-pro {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*-------font Modak and DynaPuff-------*/

body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  background-color: #ffd6eb;
  color: #7a1c48;
  overflow: auto;
}

/* --------Header-------------- */
header {
  background-color: #d85a8d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 9999; 
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}

header .logo img {
  width: 60px;
  height: 60px;
}

header h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-weight: 1;
  top: 3px; 
  margin: 0; 
  line-height: 1;
  position: relative;   
}

nav a {
  font-family: "Maven Pro", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s;
  letter-spacing: 4.5px;
  padding-right: 130px; 
}

nav a:hover {
  opacity: 0.8;
}
/* --------Header-------------- */

/* ------ Viền gợn sóng dưới header---------- */
body {
  margin: 0;
  background-color: #ffd6eb;
  font-family: "Maven Pro", sans-serif;
}

/* Header */
header {
  background-color: #d85a8d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
  height: 60px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  letter-spacing: 4px;
}

/* -------------------- POPUP ABOUT US -------------------- */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    background: rgba(246, 179, 210, 0.85);
    backdrop-filter: blur(6px);
    width: 75%;
    max-width: 800px;
    border-radius: 35px;
    padding: 40px 20px;
    position: relative;
    animation: popupFade 0.3s ease-out;
    border: 4px solid #d85a8d;
}

.popup-inner {
    text-align: center;
    color: #7a1c48;
    font-family: "Maven Pro", sans-serif;
}

.popup-title {
    font-family: "Sigmar One", sans-serif;
    font-size: 45px;
    margin: 0 0 10px 0;
    color: #7a1c48;
}

.popup-desc {
    font-size: 20px;
    margin: 10px 0 25px 0;
    padding: 0 30px;
}

.popup-members {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 22px;
    font-weight: 700;
}

.popup-members li {
    margin: 8px 0;
}

.kitty-left {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 140px;
}

.kitty-right {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 140px;
}


